html
{
	height: 100%;
}

body
{
	height: 100%;
	background-color: powderblue;
	height: 100%;
	margin: 0;
	font-family: Arial;
	display: grid;
	align-items: center;
}

#main-holder
{
	width: 80%;
	height: 80%;
	display: grid;
/*	justify-items: center;
	align-items: center;
*/	background-color: white;
	border-radius: 20px;
	border-color: black;
}

#logout-button
{
	width: 60px;
	height: 30px;
	padding: 7px;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	background-color: #3a3a3a;
	cursor: pointer;
	outline: none;
}

#login-result
{
	align-self: center;
}

/*
#grid-set
{
	display: grid;
}
*/
#title
{
	text-align: center;
	color: black;
}

#search-button
{
	width: 60px;
	padding: 7px;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	background-color: #3a3a3a;
	cursor: pointer;
	outline: none;
}

#add-contact
{
	width: 140px;
	padding: 7px;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	background-color: #3a3a3a;
	cursor: pointer;
	outline: none;
}

#search-bar-holder
{
	justify-self: center;
}

#add-contact-holder
{
	justify-self: center;
}
